.SearchResult-container::-webkit-scrollbar {
  display: none;
}

.MyChats-Container::-webkit-scrollbar,
.ChatBoxCantainer::-webkit-scrollbar {
  display: none;
}
.MessageRedingBox::-webkit-scrollbar {
  display: none;
}
.GroupChatImgContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GroupChatimgOne,
.GroupChatimgTwo,
.GroupChatimgThree {
  width: 30px !important;
  height: 30px !important;
}
.GroupChatimgOne {
  position: absolute;
}

.GroupChatimgTwo {
  position: absolute;
  top: -10px;
}
.GroupChatimgThree {
  position: absolute;
  top: -10px;
}

.SingleChatConatiner {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 13fr 1fr;
}

.FormControllerInputSender {
  position: relative;
}

.inputGroupAttachmentIcon {
  position: absolute;
  top: 0;
}

/* Message */

.MessageRedingBox {
  padding: 8px;
  background: #2e2e2e;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll !important;
}

.scrollable-chat-container::-webkit-scrollbar {
  display: none;
}
.scrollable-chat-container {
  overflow-y: auto; /* Enable vertical scrolling if the content exceeds the container height */
  padding: 10px; /* Add some padding for better visual appearance */
  box-sizing: border-box; /* Include the padding in our element's */
}

.message-container {
  margin-bottom: 10px; /* Add margin between messages */
}

.message-wrapper {
  display: flex;
  align-items: center;
}

.message-content {
  /* background-color: #b9f5d0; Default background color for other users' messages */
  background: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);

  color: #ffffff;
  font-weight: 600;
  border-radius: 20px;
  padding: 5px 15px;
  max-width: 75%;
  margin-top: 8px;
}

.my-message {
  /* background-color: #bee3f8; Background color for the current user's messages */
  background: linear-gradient(98.63deg, #24e2f0cc 0%, #3590f9d4 100%);
  margin-left: auto;
}

p {
  margin: 7px;
}

.Userchat {
  position: relative;
}
.online-dot {
  background-color: rgb(93, 255, 17);
  border-radius: 50%;
  position: absolute;
  top: 0.5px;
  right: 0px;
  width: 13px;
  height: 13px;
}

.offline-dot {
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  top: 0.5px;
  right: 0px;
  width: 13px;
  height: 13px;
}
